{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
{% for category in categories %}
    <div>
        <p>{{ category.name }}</p>
    </div>
{% endfor %}
{% endblock %}
